---
layout: page
title: My Portfolio
permalink: /portfolio
---
<div class="row">

{% for project in site.posts %}
<div class="col-6" style="padding:10px;">
  <a href="{{ project.url }}" style="text-decoration: none; color: black;">
    <div class="project">
      <img src="/images/{{ project.image }}" class="project-image">
      <div class="container">
        <h3>{{ project.title }}</h3>
        <p style="text-align:right;">
          {% for language in project.categories %}
            <strong style="font-size:72%;">{{ language }}</strong>&nbsp;
          {% endfor %}
        </p>
      </div>
    </div>
  </a>
  &nbsp;
</div>
{% endfor %}
</div>
