---
layout: page
title: My Portfolio
permalink: /portfolio
---
<div class="row">

{% for project in site.posts %}
<div class="col-6" style="padding:10px;">
  <a href="{{ project.url }}" style="text-decoration: none; color: black;">
    <div class="project">
      <div class="project-image" 
      {% if project.image %}
        style="background-image:url(/images/{{ project.image }});"
      {% endif %}></div>
      
      <div class="project-text">
        <h3>{{ project.title }}</h3>
        <p>
          {% for language in project.categories %}
            <strong>{{ language }}</strong>&nbsp;
          {% endfor %}
        </p>
      </div>
    </div>
  </a>
  &nbsp;
</div>
{% endfor %}
</div>
