---
layout: page
title: My Portfolio
permalink: /portfolio
---
<div class="row">

{% for project in site.posts %}
<div class="col-4" style="padding:10px;">
  <a href="{{ project.url }}" style="text-decoration: none; color: black;">
    <div class="project">
      <div class="project-image" 
      {% if project.images %}
        style="background-image:url(/images/{{ project.images.first }});"
      {% endif %}></div>
      
      <div class="project-text">
        <h3>{{ project.title }}</h3>
        <h5>
          {% for language in project.languages %}
            {{ language }}&nbsp;
          {% endfor %}
        </h5>
      </div>
    </div>
  </a>
  &nbsp;
</div>
{% endfor %}
</div>
